a, a:visited {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /*font-family: для псевдоселекторов a:visited, a:hover, a:active можно и не указывать, 
    так как у всех них укзан тот же шрифт, что и у родителя "а".*/

    font-size: 11px; /*Все остальные псевдоселекторы с родителем "а:" повторяют размер шрифта родителя. 
    font-size: для a:visited, a:hover, a:active можно и не указывать, 
    так как у всех них укзана одинаковый размер шрифта, что и у родителя "а".*/

    color: #3A681A; /*a:visited повторит цвет родителя.*/

    text-decoration: none;
    /*У тега "а" и двух псевдоселекторов указано данное свойство,
    а упсевдостикера "a:active" оно не указано в условии, но он всеравно повторяет значение
    родителя "а", а значет ему передается он по наследству.*/
}

a:hover {
    color: #5CA22E;
    /*Это неповторимый свойство, которое отличается от "color" всех остальных тегов и псевдостикеров.*/
}

a:active {
    color: #DC0000;
    /*Это неповторимый свойство, которое отличается от "color" всех остальных тегов и псевдостикеров.*/
}

.block, .block2 {
    border: 1px solid #008000; 
    background-color: #E7F2D7;
    height: 17px;
    /*Эти три свойства есть только у ".block" и ".block2" и они идентичны.*/

    font-size: 11px;
    /*Хоть font-size у ".block" и ".block2" такой же как и у "а", 
    но всеравно его указываем здесь отдельно, так как за "а" нужно было прописвать две единицы кода,
    а здесь внизу только одну).*/
}

.block2 {
    width: 95px;
    /*У ".block2" на одно свойство больше чем у ".block" и это ширина,
    вот его и помещаем отдельно от всех одинаковых их свойств.*/
}