ul{
    padding: 0 0 0 35px;
}

li{
    list-style-type: decimal;/*переделываем маркеры в цифры*/
    list-style-position: inside;/*маркеры устанавливаем внутри*/
    margin: 5px;
    padding: 3px;
    max-width: 200px;/*устанавливаем макс. длинну li*/
    border: 1px solid blue;/*делаем рамки вокруг li*/
}

/*li:hover 
или*/
ul *:hover{
    background-color: green;
    border-color: green;
    color: white;
    cursor: pointer;/*устанавливаем наведение на элемент руки всесто стрелки*/
}

/*li:hover + li + li 
или*/
ul *:hover + * + *{
    background-color: red;
    border-color: red;
    color: white;
}