body{
    margin: 1px;
    /*Устанавливает величину отступа от верхнего края границы до текущего элемента
    margin - внутренние отступы в блоке от его границы до элемента (например текста)
    top - в этой поставновке это верхний отступ*/
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    /*Устанавливает симейство шрифта.*/
    
    

}

.Site{
    display: block;
    /*display - многоцелевое свойство, которое показывает, как элемент должен быть в документе.*/
    border: 5px outset red;
    /*Задает границу элемента*/
    border-radius: 7px;
    /*Округления углов границы элемента*/
    padding: 1px 1px 1px 1px;
    /*Внешние отсупы элемента до границы*/
    padding: 1px 1px 1px 1px;
    /*Внешние отсупы элемента*/
    width: 98vw;
    /*Задаем ширину объека*/
    background: rgb(177, 212, 149);
    /*Устанавливает характеристики фона, одновременно может 5, характеристики разделяются пробелами*/
    color: rgb(34, 33, 23);
    /*Определяет цвет текста элемента.*/
    position: relative;
    /*Позиционирование*/
    
}

/*Шапка*/

.CapSite{
    display: block;
    /*display - многоцелевое свойство, которое показывает, как элемент должен быть в документе.*/ 
    
}

.LogoCompany{
    line-height: 120px;
    /*Устанавливает межстрочный интервал.*/
    font-size: 70px;
    /*Определяет размер шрифта текста элемента.*/
    color: #da9a12;
    /*Определяет цвет текста элемента.*/
    text-align: center;
    /*Определяет горизонтальное выравнивание текста в пределах элемента*/
    background: rgb(12, 121, 30);
    /*Устанавливает характеристики фона, одновременно может 5, характеристики разделяются пробелами*/
    border-radius: 7px;
    /*Округления углов границы элемента*/
    margin: 5px 5px 5px 5px;
    /*Внешние отступы*/
    border: 4px solid #d8780a;
    /*Граница вокруг элемента*/
}

.HeaderMenu{
    font-size: 17px;
    /*Определяет размер шрифта текста элемента.*/
    text-align: center;
    /*Определяет горизонтальное выравнивание текста в пределах элемента*/
    background: #da9a12;
    /*Устанавливает характеристики фона, одновременно может 5, характеристики разделяются пробелами*/
    margin: 5px 5px 5px 5px;
    /*Устанавливает величину отступа от верхнего края границы до текущего элемента*/
    height: 55px;
    /*Задаем высоту объекта*/
    border-radius: 7px;
    /*Округления углов границы элемента*/
    font-size: 35px;
    /*Определяет размер шрифта текста элемента.*/
    border: 4px solid rgb(12, 121, 30);
    /*Граница вокруг элемента*/
}

a {
	font-size: 17px;
    /*Определяет размер шрифта текста элемента.*/
    color: #d8780a;
	text-align: center;
	line-height: 5px;
    text-decoration: none; 
    padding: 10px;
}

a:hover {
    /*оперделяет стиль элемента (в данном случае это элемент "а")
    при наведении на него курсора мыши, но при этом элемент еще не активен.*/
    background-color: #da9a12;
    /*Определяет цвет фона элемента, в данном случае, когда наводишь курсором мыши на элемент "а",
    то он подсвечивается выбранным цветом.
    Если установить значение transparent - устанавливается прозрачный фон
    Если установить значение inherit - наследует значение родителя, так как изначально
    оно не наследует значение родителя*/
    color: black;
    /*Определяет цвет текста элемента, в данном случае "а".*/
    
}

.VerticalMenu{
    
}


.Content{
    width: calc(100% - 200px);
    float: right;
    text-align: justify;
    /*Выравнивание текста по ширине, что означает одновременное выравнивание по левому и правому краю. Чтобы произвести это действие браузер в этом случае добавляет пробелы между словами.*/
    padding: 5px 5px 5px 10px;
    border: 4px solid #d8780a;
    background: #bfdd5c;
    margin: 2px 5px 5px 5px;
    /*Устанавливает величину отступа от верхнего края границы до текущего элемента*/
    border-radius: 7px;
    /*Округления углов границы элемента*/
}

.End{
    clear: both;
    display: block;
    background: #da9a12;  
    color: rgb(12, 121, 30);
    /*Цвет фона*/
    text-align: center;
    /*Определяет горизонтальное выравнивание текста в пределах элемента*/
    border-radius: 7px;
    /*Округления углов границы элемента*/
    text-align: center;
    border: 4px solid #d8780a;
    margin: 5px;
    padding: 40px;
    /*Задаем внутренний отступ от внутн. элемента до границы.*/
    
}